* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    background-size: cover;

}

.container {
    margin-top: 3rem;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.d-flex {
    display: flex;
}

.btn {
    margin-top: 1rem;
    padding: 1.6em 4em;
    border-radius: .5rem;
    border: 0;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary {
    background-color: #7480eb;
    background-image: linear-gradient(90deg, #2970c2 0%, #354981 100%);
    color: white;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #7480eb;
    background-image: linear-gradient(90deg, #276bb8 0%, #33467a 100%);
}

.btn-primary:active {
    background-color: #7480eb;
    background-image: linear-gradient(90deg, #2b73c5 0%, #3d538f 100%);
}

.btndelete {
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    border-radius: 5px;
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    text-decoration: none;
    cursor: pointer;
}

.btndelete:hover,
.btndelete:focus {
    background-color: #ff0000ce;
}


.btndelete:active {
    background-color: #ff00009f;
}

#Form {
    height: 15vh;
    width: 50%;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}

#todon {
    margin-top: 3rem;
    border-radius: 1rem;
    /* border: 1px solid black; */
    width: 80%;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.inputs {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.is-done {
    border: 1px solid blue;
}

.is-notdone {
    border: 1px solid black
}

.header {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: center;
}

.input-groups {
    align-items: center;
    justify-content: center;
}

.invalid-feedback {
    display: none;
}

.input-label {
    margin-right: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.form-control {
    padding: 1.2rem 0.4rem;
    margin-right: 1.5rem;
    width: 300px;
    border-radius: 1rem;
}

#output {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.output {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#output-text {
    margin: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.text-group {
    width: 100%;
}

.tac-control {
   width: 30px;
   height: 30px;
}

.bord {
    border: 10px solid black;
}

.d-none {
    display: none;
}